body {
  background-image: url(../images/image2.jpg);
}
nav {
   display: flex;
   flex-wrap: wrap;
   position: right;
   background-color: #1a1a1a;
   margin-bottom: 50px;
}
nav a {
	text-decoration: none;
	color: white;
	font-size: 30px;
	margin-top: 25px;
	padding-left: 50px;
	margin-bottom: 20px;
}
nav a:hover {
	text-decoration: underline;
}
header h1 {
	text-align: center;
	font-size: 70px;
	color: white;
	text-shadow: grey 0 5px;
	font-family: "Didot", sans-serif;
	margin-left: 50px;
}
aside {
    display: flex; /* Met le texte et l'image côte à côte */
    align-items: center; /* Centre verticalement le contenu */
    justify-content: space-between; /* Crée une séparation équilibrée */
    margin: 0 10%; /* Ajoute des marges sur les côtés pour centrer le tout */
}

aside img {
    width: 20%; /* Réduit la taille de l'image à 40% de la largeur du conteneur */
    height: auto; /* Garde les proportions de l'image */
}

aside p {
    width: 60%; /* Occupe la moitié de l'espace pour le texte */
    font-size: 25px;
    color: white;
    font-weight: 400;
    font-family: Inter, sans-serif, light italic; /* "Didot", sans-serif; */
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
    margin: 0; /* Supprime les marges inutiles */
    text-align: left;
}
.galerie {
  overflow-x: hidden; 
  white-space: nowrap; /* Empêche les images de passer à la ligne */
  margin: 20px auto;
  padding: 10px;
  width: 100%; /* Ajuste la largeur au conteneur parent */
  max-width: 600px; /* Largeur maximale */
  border: 1px solid #ccc; /* Optionnel : pour un style */
  border-radius: 8px; /* Optionnel : coins arrondis */
}
.galerie:hover {
  overflow-x: auto;
}
.galerie-images {
  display: inline-flex; /* Crée une ligne flexible horizontale */
  gap: 10px; /* Espace entre les images */
}

.galerie-images img {
  max-height: 150px; /* Hauteur maximale des images */
  border: 2px solid #ddd; /* Optionnel : bordure des images */
  border-radius: 4px; /* Optionnel : coins arrondis des images */
  object-fit: cover; /* Ajuste l'image pour qu'elle ne soit pas déformée */
}
footer {
	background-color: #1a1a1a;
	padding: 25px 100px;
	margin-top: 100px;
	color: white;
	font-family: Inter, sans-serif, light italic; /* "Didot", sans-serif; */
	font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
footer h1 {
	margin-bottom: 30px;
	font-size: 20px;
}
footer a {
	text-decoration: none;
	color: white;
	size: 20px;
}
footer a:hover {
	border-bottom: 1px solid;
	border-bottom-color: white;
}
footer p {
	text-align: right;
	font-size: 15px;
	
}
