body {
  background-image: url(../images/star-wars3.jpg);
}
h1 {
	text-align: center;
	font-size: 100px;
	color: white;
	text-shadow: #2b1260 0 10px;
	font-family: Inter, sans-serif; /* "Didot", sans-serif; */
	font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
h2 {
	text-align: center;
	font-size: 25px;
	color: white;
	font-family: Inter, sans-serif, light italic; /* "Didot", sans-serif; */
	font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
	font-weight: 300;
}
section {
	padding-top: 50px;
	color:#feda4a; /* a retirer quand liens finis */
	text-align: center;
	font-family: Inter, sans-serif; /* "Didot", sans-serif; */
	font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
/* 	font-family: 'Pathway Gothic One', sans-serif; */
}	
section a {
	color: #ffe300;
	text-decoration: none;
}
section h6 {
	font-size: 30px;
	margin-bottom: 5px;
	margin-top: 20px;
	font-style: italic;
	font-weight: 400;
	transition: transform 0.3s ease; /* Ajoute une transition pour le zoom */
}
section h5 {
	font-size: 50px;
	margin-bottom: 5px;
	margin-top: 20px;
	font-style: italic;
	font-weight: lighter;
	transition: transform 0.3s ease; /* Ajoute une transition pour le zoom */
}
section h4 {
	font-size: 70px;
	margin-bottom: 5px;
	margin-top: 20px;
	font-style: italic;
	font-weight: lighter;
	transition: transform 0.3s ease; /* Ajoute une transition pour le zoom */
}
section h3 {
	font-size: 80px;
	margin-bottom: 5px;
	margin-top: 20px;
	font-style: italic;
	font-weight: lighter;
	transition: transform 0.3s ease; /* Ajoute une transition pour le zoom */
}
section p {
	font-size: 70px;
	margin-bottom: 5px;
	margin-top: 20px;
	font-style: italic;
	font-weight: 400;
	transition: transform 0.3s ease; /* Ajoute une transition pour le zoom */	
}
section h3:hover, section h4:hover, section h5:hover, section h6:hover, section p:hover {
    transform: scale(1.1); /* Agrandit légèrement le texte */
}
