body {
  background-image: url(../images/image2.jpg);
}

header img {
	text-align: center;
	margin: auto;
	display: flex;
}
header img:hover {
	content:url('https://upload.wikimedia.org/wikipedia/commons/7/7f/Rotating_earth_animated_transparent.gif?20201022124448');
	transition: opacity 0.3s ease;
}


header h1 {
	text-align: center;
	font-size: 100px;
	color: white;
	text-shadow: #2b1260 0 10px;
	font-family: Inter, sans-serif; /* "Didot", sans-serif; */
	font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */

}
header p {
	text-align: center;
	font-size: 30px;
	color: white;
	font-family: Inter, sans-serif, light-italic; /* "Didot", sans-serif; */
	font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
	text-shadow: black 0 3px;
	margin-top: -10px;
	font-weight: 300;
}

.wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}
button {
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	/*margin-left: 860px;*/
	font-family: Inter, sans-serif; /* "Didot", sans-serif; */
	font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
	cursor: pointer;
	color: #333;
 	border: 2px solid #333;
  	letter-spacing: 2px;
  	position: relative;
  	transition: all .35s;
	margin-left: 900px;
} 
button span{
  position: relative;
  z-index: 2;
}

button:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #2b1260;
  transition: all .35s;
}

button:hover{
  color: #fff;
}

button:hover:after{
  width: 100%;
}
