body {
  background-image: url(../images/image2.jpg);
}

header img {
	margin-left: 700px;
	margin-top: -60px;
}
header h1 {
	text-align: center;
	font-size: 100px;
	color: white;
	text-shadow: #2b1260 0 10px;
	font-family: "Didot", sans-serif;
}
header p {
	text-align: center;
	font-size: 30px;
	color: white;
	font-family: "Didot", sans-serif;
	text-shadow: black 0 3px;
	margin-top: -10px;
}
button {
	background-color: #2b1260;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin-left: 860px;
	font-family: "Didot", sans-serif;
} 
